header {
    width: 100%;
    left: 0;
    z-index: 10;
    top: 0;
    position: relative;
    background-color: #000c75;
    font-family: sans-serif;
    
    color: #FFFFFF;
    margin: 0;
}
.header-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-text > h1, .header-text > h2, .header-text > h3 {
    font-size: x-large;
}

.header-text {
    flex: 1;
    text-align: center;
    /*padding-right: 13%;*/
}                   
#mainTable {
    background-color: azure;
    width: 80%;
    margin: 0 auto;  
    border-color: #101F27;
    border-style: solid;
    border-top: azure;
    align-items: center;
    border-width: 2px;
}                       
svg {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 20px;
    /*margin-left: 10%;*/
}

#quest {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    align-items: stretch;
}

#quest tr {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 5px;
}

#quest tr td {
    margin-right: 5px;
}

td {
    padding-bottom: 20px;
}

select, input[type="text"], input[type="radio"] {
    margin-right: 5%; 
}                    
footer {
    width: 100%;
    background-color: #101F27;
    font-family: sans-serif;
    color: #BBBBBB;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #101F27;

}        
.history {
    vertical-align: bottom;
    text-align: center;
    border-collapse: separate
}                 
table {
    border-collapse: collapse;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 2rem;
    table-layout: auto;
}

.thead {
    background-color: #AAA; 
}

.history th, .history td {
    border: 1px solid #111; 
    padding: 0.5rem; 
    text-align: center;
}

button:hover{
    background-color: red;
}

input::placeholder {
    color: blue;
}

.history tr {
    border-top: 1px solid #333;}

.history tr:first-of-type {
    border-top: none;
}                             
.history {
    border-collapse: collapse;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 2rem;
    table-layout: auto;
}                                        